<div id="about_view">

    <div id="clippath_about">
        <div id="about_title" class="container" data-aos="flip-right" data-aos-duration="2000">
            <div class="row justify-content-md-center">
                <h1>ABOUT ME</h1>
            </div>
        </div>

        <div id="about_content" class="container">
            <div class="row">
                <div data-aos="fade-right" data-aos-duration="2000" class="col">
                    <div class="justify-content-md-center">
                        <h2>Who am I?</h2>
                    </div>
                    <p>My name is Mauro Gómez, I am 23 years old and I live in Argentina.
                        I am studying computer science engineering at the Arturo Jauretche National University
                        (UNAJ),
                        I am currently finishing my supervised professional practice to obtain a degree in
                        computer science engineering. I am also in the research group "Simulation and Technology
                        in High Performance Computing (HPC) for applications of social interest".</p>
                    <p>I'm interested in design, programming, and cloud technologies.</p>
                </div>
                <div data-aos="fade-up" data-aos-duration="2000" class="col">
                    <div class="justify-content-md-center">
                        <h2>What is this website?</h2>
                    </div>
                    <p>This is my personal portfolio, created only with html, css and javascript.
                         Here I am going to comment on myself and on the technologies 
                         that I use or that interest me. I hope in the future to expand this site by 
                         adding a section where I can comment on my experience with the tools I use.</p>
                </div>
                <div data-aos="fade-left" data-aos-duration="2000" class="col">
                    <div class="justify-content-md-center">
                        <h2>Random facts</h2>
                    </div>
                    <p>Some facts about my daily life:</p>
                    <ul>
                        <li>I like to play guitar and I try to get songs on a tablature</li>
                        <li>I used to do instrumentals with Fl Studio, now I rarely do it</li>
                        <li>I like to read manga</li>
                        <li>I'm improving my English every day, so this page can have terrible typos</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>

<div id="background_fixed">
    <particles  id="particles"  [params]="myParams" [width]="width" [height]="height"></particles>
    <particles  id="particles"  [params]="myParams2" [width]="width" [height]="height"></particles>

    <div class="bw-gradient"></div>
</div>
