@import "../../styles.scss";

@media (min-width: 700px) {
  #projects_section {
    height: 100vh;
    position: relative;
    background-color: $secondary-color;
    #projects_title {
      h1 {
        color: $primary-color;
        font-family: "Poppins", sans-serif;
        padding: 1rem;
        margin-top: 3rem;
        font-weight: 700;
        letter-spacing: 5px;
        font-size: 45px;
      }
    }
    #projects_content {
      .nav {
        background-color: $base;
        .nav-link {
          color: $primary-variant-color;
          border-radius: 0;
          &:hover {
            text-decoration: none;
            color: $primary-color;
          }
        }
        .active {
          background-color: $primary-color;
          color: $surface-color;
          &:hover {
            text-decoration: none;
            color: $surface-color;
          }
        }
      }
      .tab-content {
        background-color: $secondary-variant-color;
        max-height: 80vh;
        min-height: 80vh;
        overflow-y: scroll;
        #list-example {
          height: 40vh;
        }
        .card {
          display: inline-block;
        }
        #first_pagination ::ng-deep .ngx-pagination {
          color: $primary-variant-color;
          :hover {
            background: $background-g-color;
            color: $primary-color;
          }
          .disabled {
            color: $primary-color;
          }
          .current {
            background: $primary-color;
            color: $surface-color;
          }
        }
        
      }
      ::-webkit-scrollbar {
        width: 12px;
      }
      ::-webkit-scrollbar-thumb {
        border-radius: 30px;
        background: -webkit-gradient(linear, left top, left bottom, from( #f0af36), to( #c55d08));
        box-shadow: inset 2px 2px 2px rgba(255,255,255,0.25), inset -2px -2px -2px rgba(0,0,0,0.25);
      }
      ::-webkit-scrollbar-track {
        background:linear-gradient(to right, #201c29, #201c29 1px, #100e17 1px ,#100e17);
      }

    }
  }
}
