@import "../../styles.scss";

@media (min-width: 700px) {
  #projects_section {
    position: relative;
    background-color: $secondary-color;
    #projects_title {
      height: 15vh;
      h1 {
        color: $primary-color;
        font-family: "Poppins", sans-serif;
        padding: 1rem;
        font-weight: 700;
        letter-spacing: 5px;
        font-size: 6vh;
      }
    }
    #projects_content {
      height: 85vh;
      .nav {
        background-color: $base;
        .nav-link {
          color: $primary-variant-color;
          border-radius: 0;
          &:hover {
            text-decoration: none;
            color: $primary-color;
          }
        }
        .active {
          background-color: $primary-color;
          color: $surface-color;
          &:hover {
            text-decoration: none;
            color: $surface-color;
          }
        }
      }
      .tab-content {
        background-color: $secondary-variant-color;
        overflow-y: scroll;
        #list-example {
          height: 40vh;
        }
        .card {
          display: inline-block;
        }
        #first_pagination ::ng-deep .ngx-pagination {
          margin-top: 1rem;
          text-align: center;
          margin-left: auto;
          color: $primary-variant-color;
          font-size: 22px;
          font-family: 'Montserrat', sans-serif;
          :hover {
            text-decoration: none;
            background: $background-g-color;
            color: $primary-color;
            border-radius: 5px;
            
          }
          .disabled {
            text-decoration: none;
            color: $primary-color;
          }
          .current {
            text-decoration: none;
            background: $primary-color;
            color: $surface-color;
            border-radius: 5px;
            
            :hover {
              background: $primary-color;
              color: white;
            }
          }
        }
        
      }
      ::-webkit-scrollbar {
        width: 12px;
      }
      ::-webkit-scrollbar-thumb {
        border-radius: 30px;
        background: -webkit-gradient(linear, left top, left bottom, from( #f0af36), to( #c55d08));
        box-shadow: inset 2px 2px 2px rgba(255,255,255,0.25), inset -2px -2px -2px rgba(0,0,0,0.25);
      }
      ::-webkit-scrollbar-track {
        background:linear-gradient(to right, #201c29, #201c29 1px, #100e17 1px ,#100e17);
      }

    }
  }

  #background_2nofixed {
    width: 100%;
    height: 100vh;
    color: #fff;
    //background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background: linear-gradient(-45deg, #1D8348, #2ECC71, #FF5733, $primary-variant-color);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    
    @keyframes change {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }
  }
}
