<div id="home_view">
  <div id="presentation_title">
    <div id="epigraph">
      <h1>MauroGmz</h1>
      <h3>Personal portfolio of Mauro Gómez</h3>
    </div>
  </div>

  <div id="clippath_polygon"></div>

  <div id="clippath_circle"></div>

  <div id="clippath_triangle"></div>

  <div id="container_home_button" class="container-fluid h-100">
    <div id="home_button" class="row w-100 align-items-center">
      <!-- <div id="container_button" class="col text-center">
        <a class="btn btn-success regular-button">
          Know more
        </a>
      </div> -->
      <div class="wrapper">
        <div class="btn">
          <button type="button">Know More</button>
        </div>
      </div>
    </div>
  </div>
</div>
