// Stylesheet sass -> css

/////////////////////////////////////////////////
// Variables
/////////////////////////////////////////////////

// Color Palettes
$base: #060a0f
$sec: #494949
$outline: #ff6500
$text: transparentize($sec, .5)

$primary-color: #309d43
$primary-variant-color: #9AE19D
$secondary-color: #2C302E
$secondary-variant-color: #474A48
$background-g-color: #d9dbda
$surface-color: #FBFBFF
$warning-color: #dd0426
$warning-light-color: #F02D3A


@media (max-width: 699px)
    html
        scroll-behavior: smooth    
    body
        padding: 0
        margin: 0
        overflow-x: hidden
        position: relative
        #home_view
            height: 100vh
            width: 100%
            position: relative
            background-color: $secondary-color
            #presentation_title
                position: absolute
                z-index: 3
                padding: 45px
                margin-top: 25px
                width: 100%
                text-align: center
                #epigraph
                    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, $surface-color, transparent, transparent)
                    -webkit-background-clip: text
                    background-clip: text
                    color: transparent
                    //font-size: 10vw
                    //font-family: "Source Sans Pro", sans-serif
                    //font-family: 'Poppins', sans-serif
                    //font-weight: 500
                    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms
                    @keyframes reveal
                        80%
                            letter-spacing: 3px
                        100%
                            background-size: 300% 300%
                    @keyframes glow
                        40%
                            text-shadow: 0 0 8px $surface-color
                    h1
                        font-family: 'Poppins', sans-serif
                        font-weight: 600
                        line-height: 1em
                        font-size: 35px
                    h3
                        font-family: 'Poppins', sans-serif
                        font-weight: 200
                        font-size: 18px  
            #clippath_polygon
                clip-path: polygon(100% 50%, 0 100%, 100% 100%)
                background-color: $primary-color
                position: absolute
                z-index: 1
                width: 100%
                height: 100% 
            #clippath_circle
                clip-path: circle(19.8% at 50% 50%)
                background-color: $primary-variant-color
                position: absolute
                z-index: 2
                width: 100%
                height: 100%
                
                animation-name: zoom-out
                animation-duration: 3s
                @keyframes zoom-out
                    0%
                        width: 180%
                        clip-path: circle(9.3% at 50% 50%) 
                    100% 
                        width: 100%
            #home_button
                position: absolute
                z-index: 4
                margin-top: 70vh
        #about_view
            height: 100vh

@media (min-width: 700px)
    html
        scroll-behavior: smooth 
    body
        padding: 0
        margin: 0
        overflow-x: hidden
        #home_view
            height: 100vh
            width: 100%
            position: relative
            background-color: $secondary-color
            #presentation_title
                position: absolute
                z-index: 3
                padding: 25px
                margin-top: 35vh
                width: 50%
                text-align: center
                #epigraph
                    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, $surface-color, transparent, transparent)
                    -webkit-background-clip: text
                    background-clip: text
                    color: transparent
                    //font-size: 10vw
                    //font-family: "Source Sans Pro", sans-serif
                    //font-family: 'Poppins', sans-serif
                    //font-weight: 500
                    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms
                    @keyframes reveal
                        80%
                            letter-spacing: 3px
                        100%
                            background-size: 300% 300%
                    @keyframes glow
                        40%
                            text-shadow: 0 0 8px $surface-color
                    h1
                        font-family: 'Poppins', sans-serif
                        font-weight: 600
                        line-height: 1em
                        font-size: 65px
                        margin-bottom: 25px
                    h3
                        font-family: 'Poppins', sans-serif
                        font-weight: 200
                        font-size: 18px  
            #clippath_polygon
                clip-path: polygon(100% 50%, 0 100%, 100% 100%)
                background-color: $primary-color
                position: absolute
                z-index: 1
                width: 100%
                height: 100%
            #clippath_triangle
                clip-path: polygon(0 89%, 100% 95%, 100% 100%, 0% 100%)
                background-color: $primary-variant-color
                position: absolute
                z-index: 2
                width: 100%
                height: 100% 
            #clippath_circle
                clip-path: circle(20.7% at 71% 50%)
                background-color: $primary-variant-color
                position: absolute
                z-index: 2
                width: 100%
                height: 100%
                left: 50%
                top: 50%
                transform: translate(-50%, -50%)
                animation-name: zoom-out
                animation-duration: 4s
                @keyframes zoom-out
                    0%
                        width: 140% 
                    100% 
                        width: 100%
            .container-fluid
                margin-left: 0
                margin-right: 0
                width: 50%
                .w-100
                    width: 50% !important            
                #home_button
                    position: absolute
                    z-index: 4
                    margin-top: 65vh
                    
        #about_view
            height: 100vh
            background-color: $secondary-variant-color
            position: relative
            #clippath_about
                clip-path: polygon(0 0, 100% 0, 100% 83%, 0 96%)
                background-color: $secondary-color
                position: absolute
                width: 100%
                height: 100%
                z-index: 1
                #about_title
                    h1
                        color: $primary-color
                        font-family: 'Poppins', sans-serif
                        padding: 1rem
                        margin-top: 3rem
                        font-weight: 700
                        letter-spacing: 5px
                        font-size: 45px
                #about_content
                    color: white
                    h2
                        color: $primary-variant-color
        #background_fixed
            height: 100vh
            background-image: url("../img/imgbg.jpg")
            background-attachment: fixed
            background-position: center center
            background-size: cover
            background-repeat: no-repeat
            .bw-gradient
                width: 100%
                height: 100vh
                position: absolute
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+11,0+100 */
                background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 11%, rgba(0,0,0,0) 100%)
                background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 11%,rgba(0,0,0,0) 100%)
                background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 11%,rgba(0,0,0,0) 100%)
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 )
        #projects_section
            height: 100vh
            position: relative
            background-color: $secondary-color
            #projects_title
                h1
                    color: $primary-color
                    font-family: 'Poppins', sans-serif
                    padding: 1rem
                    margin-top: 3rem
                    font-weight: 700
                    letter-spacing: 5px
                    font-size: 45px
            #projects_content
                .nav
                    background-color: $base
                    .nav-link
                        color: $primary-variant-color
                        border-radius: 0
                        &:hover
                            text-decoration: none
                            color: $primary-color
                    .active
                        background-color: $primary-color
                        color: $surface-color
                        &:hover
                            text-decoration: none
                            color: $surface-color
                .tab-content
                    background-color: $secondary-variant-color
                    #list-example
                        height: 40vh
        #contact_section
            height: 100vh
            background-color: $secondary-variant-color
            
                                  

            




